h1{
    width:500px;
    height: 500x;
    color:white;
}
.login_div1{
		background: rgba(2, 66, 126, 0);
		padding: 10px;
		float: none;
		border-radius: 15px;
        color:white;
	}
.login_div2{
		background: rgba(2, 66, 126, 0);
		padding: 10px;
		float: none;
		border-radius: 15px;
        color:white;
	}